#root {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 10px 10px 5px #777777;
    background-color: rgb(68, 68, 223); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, rgb(81, 81, 255), black);
    border-radius: 15px;
}

#root div {
    width: 90px;
    height: 90px;
    text-align: center;
    color: white;
    align-self: auto;
    margin : 5px;
}
.two {
    background-color: yellow;
    font-size: 90px;
}

.four {
    background-color: yellowgreen;
    font-size: 90px;
}

.eight {
    background-color: green;
    font-size: 90px;
}

.sixteen {
    background-color: #056650;
    font-size: 90px;
}

.thirtytwo {
    background-color: #053050;
    font-size: 90px;
}

.sixtyfour {
    background-color: #903090;
    font-size: 90px;
}

.onetwentyeight {
    background-color: #900090;
    font-size: 50px;
}

.twofifitysix {
    background-color: #720372;
    font-size: 50px;
}

.fivehundredtwelve {
    background-color: #492d49;
    font-size: 50px;
}

.onethousandtwentyfour {
    background-color: #410041;
    font-size: 50px;
}

.twothousandfortyeight {
    background-color: #000000;
    font-size: 50px;
}

#currentScore {
    font-size: 20px;
    text-align: center;
}

#highestScore {
    font-size: 20px;
    text-align: center;
    margin-bottom: 5vw;
}

.centeredComponent {
    margin-left: 35vw;
}

.boxstyle:hover {
    -webkit-box-shadow: 0 0 6px #777777;
    box-shadow: 0 0 6px #777777;
    transform: scale(1.05);
    transition: transform .2s;
}


.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  

  .button {
    display: none;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }

  .restartbutton {
    font-size: 1em;
    padding: 10px;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    
  }
  .restartbutton:hover {
    background: #06D85F;
  }