#root {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 10px 10px 5px #777777;
    background-color: rgb(68, 68, 223); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, rgb(81, 81, 255), black);
}

#root div {
    width: 90px;
    height: 90px;
    text-align: center;
    color: white;
    align-self: auto;
    margin : 5px;
}
.two {
    background-color: yellow;
    font-size: 90px;
}

.four {
    background-color: yellowgreen;
    font-size: 90px;
}

.eight {
    background-color: green;
    font-size: 90px;
}

.sixteen {
    background-color: #056650;
    font-size: 90px;
}

.thirtytwo {
    background-color: #053050;
    font-size: 90px;
}

.sixtyfour {
    background-color: #903090;
    font-size: 90px;
}

.onetwentyeight {
    background-color: #900090;
    font-size: 50px;
}

.twofifitysix {
    background-color: #720372;
    font-size: 50px;
}

.fivehundredtwelve {
    background-color: #492d49;
    font-size: 50px;
}

.onethousandtwentyfour {
    background-color: #410041;
    font-size: 50px;
}

.twothousandfortyeight {
    background-color: #000000;
    font-size: 50px;
}

#currentScore {
    font-size: 50px;
}

#highestScore {
    font-size: 50px;
}

.centeredComponent {
    margin-left: 30vw;
}

.boxstyle:hover {
    -webkit-box-shadow: 0 0 6px #777777;
    box-shadow: 0 0 6px #777777;
    transform: scale(1.05);
    transition: transform .2s;
}
